h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 62px;
    font-family: 'Amatic SC', cursive;
    

}

ul {
    margin-top: 220px;
    
}

li {
    margin-bottom: 20px;
    margin-left: 700px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}